*
    box-sizing: border-box

html
    margin: 0
    padding: 0
    width: 100%
    height: 100vh

body
    margin: 0
    padding: 0
    width: 100%
    height: 100vh
    font-family: 'Poppins', sans-serif, 微軟正黑體
    font-weight: 400
    background: url(background-img.jpg)
    background-position: center
    background-size: cover

nav
    padding: 8px
    & ul
        float: right
        & li
            display: inline-block
            float: left
.logo
    float: left
    padding: 8px
    margin-left: 16px
    margin-top: 8px
    & a
        color: #000
        text-transform: uppercase
        font-weight: 700
        font-size: 18px
        letter-spacing: 0
        text-decoration: none
// :not(:first-child)除了第一個li以外其他li左外距都是48px
nav ul li:not(:first-child)
    margin-left: 48px
// 最後一個li右外距24px
nav ul li:last-child
    margin-right: 24px
    
